*
{
	margin:0px;
	padding:0px;
}
h
{
	font-weight:bold;
	font-size:27;
	text-align:justify;
	background-repeat:repeat;
}
p
{
	margin-left:19px;
	margin-right:19px;
	font-weight:bold;
	font-size:27;
	text-align:justify;	
}
body
{
	background-attachment:fized;
	background:repeat;
	background-image:url(data_files/bg.jpg);
	position: relative; z-index: 0;
}
li { list-style: none; }
#main
{	
	*background-color:#003;
	background-image:url(data_files/header.jpg);
	background-size:100%;
	*width:1150px;
	width:100%;
	*border-width:8px;
	*border-color:#00c;
	*top:0px;
	*left:100px;
	position:fixed;
	*text-align:left;
	text-transform:uppercase;
}
#companytitle
{
	height:130;
	color:white;
	font-size:40px;
	font-weight:900;
	text-shadow:black 2px 2px; 
}
#mainOption
{
	background-color:#ffffff;
	position:absolute;
	*left:748px;
	right: 0;
	top:0px;
	border-style:solid;	
	border-width:2px;
	border-radius:10px;
}
#menuBar
{
	height:40px;
	width:100%;
	background: #ffffff;
	position:absolute;
	z-index:10;
}

#menuBar ul li a
{
	*color:black;
	line-height:40px;
	font-weight:bold;
	font-size:13px;
	display:block;
	padding-left:5px;
	margin-right:5px;
}
#festMenu ul
{	
	text-align:center;
	position:absolute;
	width:400px;
	display:none;
	font-weight:bold;
	z-index: 10;
}
#festMenu ul li a
{
	font-weight:bold;
	font-size:15px;
}
#festMenu:hover ul
{
	display:block;
	background: #ffffff;
	position: absolute;
}
#logindiv 
{
	top:50%;
	left:50%;
	margin-left: -300px;
	margin-top: -150px;
	position:absolute;
	background-color:white;
	width:600;
	height: 300;
	text-align:center;
	font-weight:bold;
	font-size:40px;
	padding-top:20px;
	border-radius:10px;
	z-index: -1;
}
#regDiv
{
	top:50%;
	left:50%;
	margin-left: -300px;
	margin-top: -200px;
	position:fixed;
	float:right;
	background-color:white;
	width:600;
	height: 400;
	text-align:center;
	font-weight:bold;
	font-size:40px;
	padding-top:20px;
	border-radius:10px;
	z-index: -1;
}
#myDIV
{
	width:980px;
	height:360px;
	top:50%;
	left:50%;
	margin-left: -490px;
	margin-top: -180px;
	position:fixed;
	border-radius:10px;
	z-index: -1;
}
#myDIVForCards
{
	background-color:white;
	width:840px;
	height:400px;
	top:50%;
	left:50%;
	margin-left: -420px;
	margin-top: -200px;
	position:fixed;
	overflow: auto;
	z-index: -1;
	border-radius:10px;
}
#myPaymantOptions
{
	background-color:white;
	width:840px;
	height:400px;
	top:50%;
	left:50%;
	margin-left: -420px;
	margin-top: -200px;
	position:fixed;
	overflow: auto;
	z-index: -1;
	border-radius:10px;
}
#adminPanelDiv
{
	background-color:white;
	width:840px;
	height:400px;
	top:50%;
	left:50%;
	margin-left: -420px;
	margin-top: -200px;
	position:fixed;
	overflow: auto;
	z-index: -1;
	border-radius:10px;
}
#create_catg
{
	background-color:white;
	width:840px;
	height:400px;
	top:50%;
	left:50%;
	margin-left: -420px;
	margin-top: -200px;
	position:fixed;
	overflow: auto;
	z-index: -1;
	border-radius:10px;
}
#insert_cards
{
	background-color:white;
	width:840px;
	height:400px;
	top:50%;
	left:50%;
	margin-left: -420px;
	margin-top: -200px;
	position:fixed;
	overflow: auto;
	z-index: -1;
	border-radius:10px;
}
#view_reguser
{
	background-color:white;
	width:840px;
	height:400px;
	top:50%;
	left:50%;
	margin-left: -420px;
	margin-top: -200px;
	position:fixed;
	overflow: auto;
	z-index: -1;
	border-radius:10px;
}
#ContactUsDiv
{
	background-color:white;
	width:840px;
	height:400px;
	top:50%;
	left:50%;
	margin-left: -420px;
	margin-top: -200px;
	position:fixed;
	overflow: auto;
	z-index: -1;
	border-radius:10px;
}
#footer
{
	background-color:brown;
	width:100%;
	height: 40px;
	border-width:8px;
	border-color:#00c;
	bottom: 0px;
	position:fixed;
	border-radius:10px;
	text-align:center;
}
#footmenu ul li a
{	
	color:yellow;
	line-height:40px;
	font-weight:bold;
	padding-left:180px;
	margin-right:160px;
	text-align:center;
	text-transform:uppercase;
}